.home {
  text-align: center;
}

.home .welcome {
  font-size: 3rem;
}

.home-section {
  /* min-height: 40rem; */
  padding-block: 5rem;
}

.home .dummy {
  display: grid;
  place-items: center;
  font-size: 2rem;
  color: gray;
  border: 1px solid hsl(0 0 92%);
}

.tile-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  width: 90%;
  margin-inline: auto;
}

.tile {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 28rem;
  text-align: center;
  padding: 1.25rem;
  border-radius: 1rem;
  box-shadow: var(--shadow);
  transition: box-shadow 0.2s ease-in-out, background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

.tile img {
  height: 15rem;
  width: 15rem;
}

.tile:hover {
  box-shadow: var(--hover-shadow);
}

.tile:active {
  box-shadow: inset 1px 1px 3px gray;
}

.tile .tile-title {
  font-size: 1rem;
  font-weight: bold;
  padding-inline: 0.75rem;
}

.tile .tile-striked-price {
  color: hsl(0 0 40%);
}

.tile .tile-stock-msg {
  font-size: 0.9rem;
  font-weight: 500;
  color: hsl(0, 100%, 60%);
}

.product-stock {
  font-size: 1.2rem;
  font-weight: 500;
  color: hsl(0, 100%, 60%);
}

a {
  text-decoration: none;
  color: black;
}

.disable {
  pointer-events: none;
}

.highlight-container {
  display: flex;
  gap: 5rem;
  width: fit-content;
  margin: 5rem auto;
}

.highlight-big {
  font-size: 6rem;
  margin-block: 0;
  text-align: center;
}

.highlight-small {
  text-align: center;
  font-size: 2rem;
}

nav {
  display: flex;
  position: sticky;
  z-index: 1;
  top: 0;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  background-color: white;
  box-shadow: 0 4px 8px #00000015;
}

nav a {
  position: relative;
  font-size: 1.25rem;
  line-height: 1.5;
}

nav a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  border-radius: var(--infinite);
  background-color: hsl(0 0 15%);
  transition: width 0.25s ease-in-out;
}

nav a:not(.selected-nav-tab):hover::after {
  width: 100%;
}

.selected-nav-tab {
  font-weight: bold;
}

.cart-link {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.cart-link .cart-size {
  line-height: 0;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: hsl(0, 0%, 5%);
  color: hsl(0 0 95%);
  display: grid;
  place-items: center;
}

form {
  display: flex;
  width: 50%;
}

input {
  border-radius: var(--infinite) 0 0 var(--infinite);
  width: 70%;
  font-size: 1.25rem;
  padding-inline: 1.25rem;
}

input:not(:focus-visible) {
  border-right: none;
}

input:focus {
  outline: none;
  border: 3px solid hsl(0 0 5%);
  border-right: none;
}

form button {
  border-radius: 0 var(--infinite) var(--infinite) 0;
  display: grid;
  place-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-family: "Pacifico", cursive;
  font-size: 2rem;
  user-select: none;
}

.logo-icon {
  height: 2.25rem;
  width: 2.25rem;
}

footer {
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin-top: auto;
  padding-bottom: 1rem;
  padding-top: 1rem;
  box-shadow: 0 -1px #00000025;
}

footer a {
  display: flex;
  align-items: center;
}

footer svg {
  height: 1rem;
}

button {
  cursor: pointer;
  padding: 0.7rem 1.2rem;
  border-radius: var(--infinite);
  transition: 0.15s ease-in-out;
}

.dark-btn {
  border: 2px solid hsl(0 0 5%);
  background-color: hsl(0 0 5%);
  color: hsl(0 0 95%);
}

.dark-btn:hover {
  background-color: hsl(0 0 100%);
  color: hsl(0 0 5%);
  /* box-shadow: inset 0 0 0 2px hsl(0 0 25%); */
}

.dark-btn:disabled {
  background-color: hsl(0 0 25%);
}

.large-btn {
  font-size: 1.5rem;
  padding: 1.25rem 2.75rem;
}

.wipe-btn {
  position: relative;
  overflow: hidden;
  background: transparent;
  transition: color 0.25s ease-in-out;
}

.wipe-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: hsl(0 0 5%);
  z-index: -1;
  transition: width 0.25s ease-in-out;
}

.wipe-btn:hover::before {
  width: 100%;
}

.wipe-btn:hover {
  color: hsl(0 0 90%);
}

.category-showcase:not(:first-of-type) {
  margin-top: 4rem;
}

.category-showcase h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-block: 1.75rem;
}

.product-showcase-box {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 80%;
  margin-inline: auto;
  align-items: center;
}

.product-showcase {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  flex-grow: 1;
}

.category-btn {
  color: hsl(0, 0%, 30%);
  padding: 0.5rem;
  /* border-radius: 1.2rem; */
  padding-block: 60%;
  border: none;
  box-shadow: var(--shadow);
  background-color: white;
}

.category-btn:hover {
  box-shadow: var(--hover-shadow);
}

.category-btn:active {
  box-shadow: inset 1px 1px 3px gray;
}

.center {
  text-align: center;
}

.page-btns {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.shop {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.shop-aside {
  min-width: 16%;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-right: 1px solid hsl(0 0 90%);
  /* box-shadow: 0 4px 8px #00000020; */
}

.aside-heading {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
  padding: 1rem 0 1rem 1.5rem;
  /* text-align: center; */
}

ul {
  list-style-type: none;
}

.shop ul {
  padding: 0;
}

.category-card {
  padding: 1rem 1.5rem;
  border-radius: var(--infinite);
  transition: 0.1s ease-in-out;
}

.category-card:hover {
  box-shadow: var(--shadow);
}

.category-card:active {
  box-shadow: inset 1px 1px 3px gray;
}

.shop-main {
  flex: 1;
  padding-bottom: 1.5rem;
}

.shop-main-heading {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-block: 2rem;
}

.shop-main .tile {
  padding: 1rem 0.25rem;
}

.product {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 1rem;
  padding-right: 2rem;
}

.product .product-title {
  font-size: 3rem;
  font-weight: bold;
  margin-block: 1rem;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel button {
  padding: 1.25rem 0.5rem;
}

.carousel svg {
  height: 2.5rem;
  width: 2.5rem;
}

.rotate {
  rotate: 180deg;
}

.product img {
  width: 25rem;
  height: auto;
  object-fit: contain;
}

.dashboard-main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.discount {
  color: hsl(0, 100%, 60%);
}

.current-price {
  font-size: 3rem;
  font-weight: bold;
}

.buy-buttons {
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
  grid-auto-flow: row;
  padding-inline: 10rem;
}

.buy-buttons button {
  padding-block: 0.85rem;
}

.product button:disabled {
	color: hsl(0 0 95%);
}

.product .info h2, .product .review-section h2 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-block: 1rem;
}

.product .info table {
  margin-top: 1rem;
}

table {
  width: fit-content;
}

tr {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

td {
  padding: 1rem;
  vertical-align: middle;
}

.info-icon {
  display: grid;
  place-items: center;
  background-color: #00000020;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}

.info-icon svg {
  width: 1.5rem;
  height: 1.5rem;
}

.info-heading {
  color: #00000070;
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}

.star-rating {
  color: transparent;
  background-clip: text;
  font-size: 1.3rem;
}

.info {
  padding: 1rem;
}

.reviews {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.review {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  box-shadow: var(--shadow);
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.review:hover {
  box-shadow: var(--hover-shadow);
}

.review-title {
  display: flex;
  justify-content: space-between;
}

.review-title * {
  margin: 0;
}