* {
  box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  overflow: overlay;
}

body {
  font-family: Inter, Helvetica, sans-serif;
  font-optical-sizing: auto;
  color: var(--color);
  background-color: var(--bg-color);
}

#root {
  display: flex;
  flex-direction: column;
}

button, ul, li {
  font-size: inherit;
}

a {
  text-decoration: none;
  color: var(--color);
}

.disable {
  pointer-events: none;
}

.hidden {
  display: none !important;
}

nav {
  display: flex;
  position: sticky;
  z-index: 1;
  top: 0;
  gap: 1rem;
  align-items: center;
  padding: 0.5rem;
  background: var(--nav-bg);
  box-shadow: var(--nav-shadow);
}

nav > * {
  margin-inline: 0.5rem;
}

nav a {
  position: relative;
  font-size: 1.25rem;
  line-height: 1.5;
}

nav a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  border-radius: var(--infinite);
  background-color: var(--nav-underline-color);
  transition: width 0.25s ease-in-out;
}

nav .selected-nav-tab {
  font-weight: bold;
}

nav .cart-link {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

nav .cart-link .cart-count {
  line-height: 0;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: var(--cart-count-bg-color);
  color: var(--cart-count-color);
  display: grid;
  place-items: center;
}

nav form {
  display: flex;
  width: 40%;
  margin-inline: auto;
}

nav input {
  border: var(--nav-input-border);
  border-radius: var(--infinite) 0 0 var(--infinite);
  flex-grow: 1;
  font-size: 1.25rem;
  padding-inline: 1.25rem;
  background-color: inherit;
  color: inherit;
  min-width: 0;
}

nav input:not(:focus-visible) {
  border-right: none;
}

nav input:focus {
  outline: none;
  border: var(--nav-input-focus-border);
  border-right: none;
}

nav form button {
  border-radius: 0 var(--infinite) var(--infinite) 0;
  display: grid;
  place-items: center;
}

nav .logo {
  display: flex;
  align-items: center;
  font-family: "Pacifico", cursive;
  font-size: 2rem;
  user-select: none;
  margin: 0 0 0 0.25rem;
}

nav .logo-icon {
  height: 2.25rem;
  width: 2.25rem;
  filter: var(--nav-logo-icon-filter);
}

nav .theme-toggle, nav .hamburger-btn {
  border: none;
  background-color: transparent;
  height: 1.6rem;
  width: 1.6rem;
  min-width: 1.5rem;
  display: grid;
  place-items: center;
  margin: 0 1.5rem 0 1rem;
  padding: 0;
}

nav .theme-toggle img, nav .nav-options svg {
  height: 97%;
  width: 97%;
}

nav .hamburger-btn {
  color: var(--faint-color);
  height: 2.25rem;
  width: 2.25rem;
  margin: 0 0.2rem 0 auto;
  border-radius: 0.5rem;
  /* border: 3px solid var(--faint-color); */
  padding: 0.08rem 0.15rem;
}

/* Hide on mobile */
nav > a, nav > form, nav > .cart-link, nav > .theme-toggle {
  display: none;
}

.hamburger-menu {
  z-index: 9;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 1.5rem;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background: var(--bg-color);
  box-shadow: var(--shadow);
  width: 90%;
  height: 100dvh;
}

.hamburger-menu a::after {
  height: 2.5px;
}

.hamburger-menu > *, .hamburger-menu .cart-link a {
  font-size: 1.5rem;
}

.hamburger-menu .cart-link .cart-count {
  display: none;
}

.hamburger-menu form {
  width: 100%;
  display: grid;
  grid-template-columns: 82% 18%;
}

.hamburger-menu form input {
  padding: 0.85rem 0 0.85rem 1rem;
}

.hamburger-menu form button {
  padding: 0;
}

.hamburger-menu .theme-toggle {
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
  color: var(--color);
}

.hamburger-menu .hamburger-close-btn {
  position: absolute;
  top: 1.25rem;
  right: 1.1rem;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  padding: 0;
  display: grid;
  place-items: center;
}

.hamburger-menu .hamburger-close-btn svg {
  width: 85%;
  height: 85%;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.hamburger-menu-enter {
  animation: slideIn 0.2s ease-out forwards;
}

.hamburger-menu-exit {
  animation: slideOut 0.2s ease-in forwards;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  text-align: center;
}

.home .welcome {
  font-size: 2rem;
}

/* .home-section {
  min-height: 40rem;
  padding-block: 5rem;
} */

.home .dummy {
  display: grid;
  place-items: center;
  font-size: 2rem;
  color: gray;
  border: var(--faint-border);
}

.highlight-container {
  display: flex;
  gap: 3.5rem;
  width: fit-content;
  margin: 3rem auto 4rem;
}

.highlight-big {
  font-size: 4.5rem;
  margin-block: 0;
  text-align: center;
}

.highlight-small {
  font-size: 1.5rem;
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin-top: auto;
  padding-bottom: 1rem;
  padding-top: 1rem;
  box-shadow: var(--footer-shadow);
}

footer a {
  display: flex;
  align-items: center;
}

footer svg {
  height: 1rem;
}

button {
  cursor: pointer;
  padding: 0.3rem 0.6rem;
  border-radius: var(--infinite);
  transition: 0.15s ease-in-out;
}

.large-btn {
  font-size: 1.4rem;
  padding: 1.2rem 2.7rem;
}

.unpolar-btn {
  border: var(--unpolar-btn-border);
  background-color: var(--unpolar-btn-bg-color);
  color: var(--unpolar-btn-color);
}

.polar-btn {
  border: var(--polar-btn-border);
  background-color: var(--polar-btn-bg-color);
  color: var(--polar-btn-color);
}

.polar-btn:disabled {
  background-color: var(--polar-btn-disabled-bg-color);
}

.tile-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  width: 90%;
  margin-inline: auto;
}

.empty-msg {
  text-align: center;
  max-width: 100%;
  color: var(--empty-msg-color);
  font-weight: 400;
}

.tile-grid .empty-msg {
  grid-column: 1/-1;
}

.tile {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* min-height: max(100%, 28rem); */
  min-height: 100%;
  text-align: center;
  align-items: center;
  padding: 1.25rem;
  border-radius: 1rem;
  box-shadow: var(--shadow);
  background: var(--tile-bg);
  transition: box-shadow 0.2s ease-in-out, background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

.tile .tile-img-box {
  display: grid;
  place-items: center;
  width: 80%;
  height: auto;
  aspect-ratio: 1;
}

.tile img {
  width: 100%;
  height: 100%;
}

.tile:active {
  box-shadow: var(--active-inset-shadow);
}

.tile .tile-title {
  font-size: 1rem;
  font-weight: bold;
  padding-inline: 0.75rem;
}

.tile .tile-striked-price {
  color: var(--striked-price-color);
}

.tile .tile-stock-msg {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--tile-stock-msg-color);
}

.product-stock {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--product-stock-msg-color);
}

.category-showcase:first-of-type {
  margin-top: 2rem;
}

.category-showcase:not(:first-of-type) {
  margin-top: 4rem;
}

.category-showcase:last-of-type {
  margin-bottom: 3rem;
}

.category-showcase h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-block: 1.75rem;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.title-container button {
  padding: 0;
}

.product-showcase-box {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 80%;
  margin-inline: auto;
  align-items: center;
}

.product-showcase-box>a {
  display: none;
}

.product-showcase {
  display: grid;
  gap: 1rem;
}

.category-btn {
  color: var(--category-btn-color);
  padding-inline: 0.5rem;
  /* border-radius: 1.2rem; */
  padding-block: 60%;
  border: none;
  box-shadow: var(--shadow);
  background: var(--category-btn-bg);
}

.category-btn:active {
  box-shadow: var(--category-btn-active-shadow);
}

.category-btn .smallIcon {
  height: 2.5rem;
  width: 2.5rem;
}

.category-btn .bigIcon {
  display: none;
  min-width: 2.5rem;
}

.page-btns {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.page-btns button {
  padding: 0.85rem 1.25rem;
}

.shop {
  display: flex;
  /* gap: 0.5rem; */
  align-items: flex-start;
}

.shop-aside {
  display: none;
  min-width: 16%;
  align-self: stretch;
  flex-direction: column;
  padding: 1rem;
  border-right: var(--shop-aside-border-right);
}

.aside-heading {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
  padding: 1rem 0 1rem 1.5rem;
  /* text-align: center; */
}

ul {
  list-style-type: none;
}

.shop ul {
  padding: 0;
}

.category-card {
  padding: 1rem 1.5rem;
  border-radius: var(--infinite);
  transition: 0.1s ease-in-out;
}

.category-card:active {
  box-shadow: var(--category-card-active-shadow);
}

.shop-main {
  flex: 1;
  padding-bottom: 1.5rem;
}

.shop-main-heading {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-block: 2rem;
}

.shop-main .tile {
  padding: 1rem 0.25rem 2rem;
}

.product {
  flex-grow: 1;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 2rem;
}

.product .product-title {
  font-size: 3rem;
  font-weight: bold;
  margin-block: 1rem;
}

.carousel {
  display: flex;
  gap: 0.125rem;
  justify-content: center;
  align-items: center;
}

.carousel button {
  padding: 1.25rem 0.5rem;
}

.carousel svg {
  height: 2.5rem;
  width: 2.5rem;
  /* min-width: 28px; */
}

.rotate {
  rotate: 180deg;
}

.product img {
  width: 80%;
  height: auto;
  object-fit: contain;
}

.dashboard-main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product .discount {
  color: var(--product-pg-discount-color);
}

.current-price {
  font-size: 3rem;
  font-weight: bold;
}

.action-buttons {
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
}

.action-buttons button {
  padding-block: 0.85rem;
}

.product button:disabled {
	color: var(--product-pg-disabled-btn-color);
}

.product .info h2, .product .review-section h2 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-block: 1rem;
}

.product table {
  margin-top: 2rem;
  width: 100%;
}

.product tbody {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.product tr {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  box-shadow: var(--shadow);
  background: var(--tile-bg);
  border-radius: 0.75rem;
  padding: 0.5rem 1.5rem;
}

.product td {
  padding: 1rem;
  vertical-align: middle;
}

.info-icon {
  display: grid;
  place-items: center;
  background-color: var(--info-icon-bg-color);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}

.info-icon svg {
  width: 1.5rem;
  height: 1.5rem;
}

.info-heading {
  color: var(--info-heading-color);
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}

.star-rating {
  color: transparent;
  background-clip: text;
  font-size: 1.3rem;
  width: fit-content;
}

.info .description {
  font-weight: 300;
  text-align: justify;
}

.review-section {
  margin-bottom: 1.5rem;
}

.reviews {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: center;
  padding-inline: 1rem;
}

.reviews li {
  width: 100%;
}

.review {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  background: var(--tile-bg);
  box-shadow: var(--shadow);
  padding: 1.5rem;
  border-radius: 0.75rem;
}

.review-title {
  display: flex;
  justify-content: space-between;
}

.review-title h3 {
  font-weight: 600;
}

.review-title p {
  font-weight: 300;
}

.cart-main {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 0.5rem;
}

.cart-item {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* grid-template-areas: 
    "img img title title rate rate"
    "img img title title total total"
    "counter  counter counter counter del del"; */

  grid-template-areas: 
    "img img title title"
    "rate counter total del";
  column-gap: 2rem;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
  box-shadow: var(--shadow);
  background: var(--tile-bg);
  border-radius: 2rem;
  font-size: 1.125rem;
}

.cart-item > * {
  text-align: center;
}

.cart-item-img-box {
  height: 100%;
  overflow: hidden;
  display: grid;
  place-items: center;
  transition: filter 0.15s ease-in-out;
  min-width: 3rem;
  grid-area: img;
}

.cart-item img {
  display: block;
  width: 100%;
  max-height: 100%;
  aspect-ratio: 1;
}

.cart-item-title {
  font-weight: 600;
  grid-area: title;
}

.cart-item .count-editor {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-inline: auto;
  grid-area: counter;
}

.cart-item-count {
  display: grid;
  place-items: center;
  width: 4rem;
  height: 3rem;
  padding-inline: 1rem;
  color: var(--color);
  background: var(--tile-bg);
  border: var(--unpolar-btn-border);
  border-radius: 1.5rem;
}

.cart-item-price {
  grid-area: rate;
  /* align-self: end; */
  /* justify-self: end; */
}

.cart-item-total-price {
  grid-area: total;
  /* align-self: start; */
  font-weight: bold;
  /* justify-self: end; */
}

.cart-item .count-editor button {
  height: 2.25rem;
  width: 2.25rem;
  display: grid;
  place-items: center;
  font-size: 0.9rem;
  line-height: 0;
  padding: 0;
}

.cart-item .count-editor svg {
  height: 1rem;
  width: 1rem;
}

.cart-item .count-editor .delete-svg {
  height: 1.25rem;
  width: 1.25rem;
}

.cart-item .delete-btn {
  background-color: transparent;
  border: none;
  color: var(--color);
  margin-inline: auto;
  grid-area: del;
}

.cart-item .delete-btn .delete-svg {
  min-width: 1.25rem;
}